<h1>Employees</h1>

<p>This component demonstrates fetching data from the Employees API using search or not.</p>

<p *ngIf="!data"><em>Loading...</em></p>
<input type="text" id="search" name="search" [(ngModel)]='searchValue'/>
<button (click)="search(searchValue)">Get Employees</button>
<table class='table' *ngIf="data">
    <thead>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>ROLE ID</th>
            <th>ROLE NAME</th>
            <th>ROLE DESCRIPTION</th>
            <th>CONTRACT TYPE</th>
            <th>HOURLY SALARY</th>
            <th>MONTHLY SALARY</th>
            <th>ANNUAL SALARY</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data">
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.roleId }}</td>
            <td>{{ item.roleName }}</td>
            <td>{{ item.roleDescription }}</td>
            <td>{{ item.contractTypeName }}</td>
            <td>{{ item.hourlySalary }}</td>
            <td>{{ item.monthlySalary }}</td>
            <td>{{ item.annualSalary }}</td>
        </tr>
    </tbody>
</table>
